<div class="my-logo">
<a href="#"><img width="37px" src="assets/images/logo.svg"/></a>
</div>
<div class="row">
<div class="col-xl-4 offset-xl-4 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
<form class="teaminfo">
<h1>Tell us about your team</h1>
<div class="form-group">
<label>What will your team use Slack for?</label>
<select class="custom-select form-control">
<option selected="">Select an Option</option>
                                <option value="Work">Work</option>
                                <option value="School">School</option>
                                <option value="Shared Interest Group">Shared Interest Group</option>
                                <option value="Other">Other</option>
                            </select>
</div>
<div class="form-group">
<label>Great! What kind of company is it?</label>
<select class="custom-select form-control">
<option selected="">Select an Option</option>
                                <option value="Work">Consumer Goods</option>
                                <option value="Financial Services">Financial Services</option>
                                <option value="Goverment Services">Goverment Services</option>
                                <option value="Other">Other</option>
                            </select>
</div>

<div class="form-group">
<label>How big is your company?</label>
<select class="custom-select form-control">
<option selected="">Select an Option</option>
                                <option value="1-10 People">1-10 People</option>
                                <option value="11-50 People">11-50 People</option>
                                <option value="51-100 People">51-100 People</option>
                                <option value="101-250 People">101-250 People</option>
                            </select>
</div>

<div class="form-group">
<label>What is your role there ?</label>
<select class="custom-select form-control">
<option selected="">Select an Option</option>
                                <option value="Design">Design</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Operations">Operations</option>
                                <option value="Other">Other</option>
                            </select>
</div>
<div class="form-group">
<label>Are you a manager? (Do people report to you?)</label>


<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-green active">
    <input type="radio" checked autocomplete="off"> Yes
  </label>
 
  <label class="btn btn-green">
    <input type="radio" autocomplete="off"> No
  </label>
</div>
</div>

<div class="form-group text-center">
<button class="btn btn-green" routerLink="/teamname/teamname">
Continue To Company Name <i class="fa fa-arrow-right"></i>

</button>
</div>
	</form>						
</div>
</div>