<div class="my-logo">
<a href="#"><img width="37px" src="assets/images/logo.svg"/></a>
</div>
<div class="row">

<div class="col-xl-4 offset-xl-4 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
<form class="create-name">
<h1>What’s your name?</h1>
<p class="head-top">This is how your teammates in Slack will see and refer to you.</p>
<div class="form-group">
<label>Full name</label>
<input type="text" class="form-control" placeholder="Full Name"/>
</div>
<div class="form-group">
<label>Display name <span>(optional)</span></label>
<input type="text" class="form-control" placeholder="Display Name"/>
</div>
<p class="">
By default, Slack will use your full name — but you can choose something shorter if you’d like.
</p>
<div class="form-group text-center">
<button class="btn btn-green" routerLink="/createpassword/createpassword">
Continue To Password <i class="fa fa-arrow-right"></i>

</button>
</div>
</form>

</div>
</div>

