@import "../../app/variable/variable";





.navbar.navbar-1{
.dropdown
{
a.title 
{
font-size:$value30/2+3;
font-weight:700;
font-family:$font-medium;
}
.dropdown-menu{
	padding: .9375rem 0;
   	@include dropdownmenu;
li{
a
{   display:block;
    padding: 0 1rem 0 .5rem;
    margin: 0 .9375rem;
	color: #2C2D30;
	font-size: $value30/2;
    line-height: -$value30/6 + $value30;
	font-family:$font-light;
	font-weight:600;
    -webkit-font-smoothing: antialiased;
}
a:hover
{    border-radius: $rem2/8;
background: #2D9EE0;
color: $white;
}
}  

}
}
.header-logo
{

.item1
{
i
{
    font-size: .8125rem;   
}
i.heart-icon
{    color:$light-green;
    font-size: $value30/3+1;
}
	span{
	    font-size: .8125rem;
		font-family:$font-light;
		    font-weight: 600;
	}
	 border-right: 1px solid rgba(113,114,116,.5);
	line-height: 1;
	display:inline-block;
	  padding-right: .4rem;
       margin-right: .4rem;
	   
}
.item1:last-child
{
 border-right:$none;
}
}
.navbar-search-form
{
.input-group
{
.input-group-addon
{
padding-right:$value30/6;
font-size: $value30/2+1;
border-top-left-radius: .35rem;
border-bottom-left-radius: .35rem;
border-color:#717274;
background:$none;
}
input
{
border-left:$none;
padding-left:$value0;
border-top-right-radius: .35rem;
border-bottom-right-radius: .35rem;
border-color:#717274;
}
height: $value30+4;
}
margin-top: -3 + $value10;
}
ul.navbar-right-1
{
li.nav-item{
	position: relative;
.head-r-0
{
padding-right:$value0!important;
}
a.nav-link{
i
{
color: #717274;
    font-size:$value10*2+2;
}
    padding-left: -2 + $value10;
    padding-right: -2 + $value10;
	}
}
li.nav-item:last-child{
	ul.dropdown-menu{
		right:0;
		left:auto;
		border:1px solid #ddd;
		li{
			a{
				i{
					width: 20px;
					text-align: center;
				}
			}
			a:hover{
				background:#ddd;
				color:#333;
			}
		}
	}
}
	
}
border-bottom: 1px solid #E8E8E8;
 @include top-header;
    height:$value50+$value30/3+1;
}

.main{
        
        height: 100vh;
    }
