<div class="my-logo">
<a href="#"><img width="37px" src="assets/images/logo.svg"/></a>
</div>
<div class="row">

<div class="col-xl-4 offset-xl-4 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
<form class="create-name">
<h1>Set your password</h1>
<p class="head-top">Choose a password for signing in to Slack.</p>
<div class="form-group">
<label>Password</label>
<input type="text" class="form-control" placeholder="Password"/>
</div>

<p class="">Passwords must be at least 6 characters long, and can’t be things like password, 123456 or abcdef.
</p>
<div class="form-group text-center">
<button class="btn btn-green" routerLink="/teaminfo/teaminfo">
Continue To Workspace Info <i class="fa fa-arrow-right"></i>

</button>
</div>
</form>

</div>
</div>

