<div class="main-settings"> 
  <h1 class="main-hdng"><i class="ion-log-out"></i> &nbsp;Sign out all other sessions</h1>
  <div class="reset-main">
  	<h3>Click the button below to sign out of all other sessions.</h3>
  	<p>This will:</p>
  	<ul>
  		<li>Reset all cookies used for Slack sign in (except in your current browser)</li>
  		<li>Reset all API tokens associated with your account (so you will need to sign in again on your phone)</li>
  		<li>Reset all gateway passwords (for things like XMPP and IRC clients)</li>
  		<li>Remove push notifications configured for your mobile device</li>
  		<li>Disconnect any Slack clients currently connected with your account</li>
  	</ul>
  	<p class="m-b-40">This will <b>not</b> reset your password.</p>
  	<hr>
  	<h5 class="m-t-40">Confirm your password to proceed.</h5>
  	<form class="form-group pro-con-pas m-t-20">
  		<input type="password" placeholder="password" class="form-control" name="">
  		<a href="javascript:void(0)" class="btn btn-warning transform-auto">Sign out all other sessions</a>
  	</form>
  </div>
</div>