<div class="row full-height">
<div class="col-xl-4 col-md-6 col-lg-4 email-left">
<p class="text-center top-header">
<span>Looking to join an existing workspace?</span>  
<a href="#" >Find your workspace.</a>
</p>
<form class="email-form">
<div class="my-logo">
<a href="#"><img width="37px" src="assets/images/logo.svg"/></a>
</div>
<div class="form-top">
<h1>Create a new workspace</h1>
<div class="form-group">
<label><span>Your</span>  email address</label>
<input type="text" class="form-control" placeholder="you@example.com"/>
</div>
</div>
<div class="form-footer">
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
   It's ok to send me (very occasional)
email about the Slack service.
  </label>
</div>
<div class="form-group text-center">
<button class="btn btn-green" routerLink="/confirmemail/confirmemail">
Next <i class="fa fa-arrow-right"></i>

</button>
</div>
</div>

<p class="term-condition     text-center">
			By proceeding to create your account and use Slack, you are agreeing to our <a class="bold" href="#">Terms of Service</a> and <a href="#" class="bold">Privacy Policy</a>. If you do not agree, you cannot use Slack.
		</p>
</form>
</div>
<div class="col-xl-8 col-md-6 col-lg-8 email-right">
<div class="right-top">
<p class="text-right">
<span>Looking to join an existing workspace?</span>  
<a href="#" >Find your workspace.</a>
</p>
<div class="signup-background" style="background:url('assets/images/email.png')">
</div>
</div>
</div>
</div>