<div class="message-box"> 
  <div class="message-divider">  
    <hr>
    <span>Today</span> </div>
  <div class="message-content ">
    <div class="media popup-options"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button><i class="ion-android-happy" data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..." ></i></button></li>
          <li><button id="display-thread" data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-toggle="modal" data-target="#share-message-pop" ><i data-original-title="Share message..." data-placement="top" data-toggle="tooltip" class="ion-android-share"></i></button></li>
          <li class="more-options"><button data-original-title="More options..." data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button>
          
          </li>
        </ul>

        <div class="child-more-options dropdown-menu">
        <ul>
          <li><a href="javascript:void(0)">Follow message<small>Any replies will show up in All Threads</small></a></li>
          <hr>
          <li><a href="javascript:void(0)">Send message ...</a></li>
          <li><a href="javascript:void(0)">Copy link</a></li>
          <li><a href="javascript:void(0)">Remind me about this <i class="ion-ios-arrow-right pull-right"></i></a>
            <ul class="remind-optn-ul dropdown-menu">
              <li><a href="javascript:void(0)">In 20 minutes</a></li>
              <li><a href="javascript:void(0)">In 1 hour</a></li>
              <li><a href="javascript:void(0)">In 3 hours</a></li>
              <li><a href="javascript:void(0)">Tomorrow</a></li>
              <li><a href="javascript:void(0)">Next week</a></li>
            </ul>
          </li>
          <hr>
          <li><a href="javascript:void(0)">Add reation ...</a></li>
          <li><a href="javascript:void(0)">Pin to #random ...</a></li>
          <hr>
          <li><a href="javascript:void(0)">Edit message</a></li>
          <li><a data-toggle="modal" data-target="#delete-message-pop" href="javascript:void(0)" class="delete-msg">Delete message</a></li>
        </ul>
        </div>
      </div>
    </div>

    <div class="media popup-options"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <br><br>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <br><br>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button id="display-thread1" data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-toggle="modal" data-target="#share-message-pop" ><i data-original-title="Share message..." data-placement="top" data-toggle="tooltip" class="ion-android-share"></i></button></li>
          <li class="more-options"><button data-original-title="More options..." data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button>
          
          </li>
        </ul>
      </div>
    </div>

    <div class="media popup-options"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button id="display-thread2" data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-toggle="modal" data-target="#share-message-pop" ><i data-original-title="Share message..." data-placement="top" data-toggle="tooltip" class="ion-android-share"></i></button></li>
          <li class="more-options"><button data-original-title="More options..." data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button>
          
          </li>
        </ul>
      </div>
    </div>

    <div class="media popup-options"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button id="display-thread4" data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-toggle="modal" data-target="#share-message-pop" ><i data-original-title="Share message..." data-placement="top" data-toggle="tooltip" class="ion-android-share"></i></button></li>
          <li class="more-options"><button data-original-title="More options..." data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button>
          
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="message-footer">
    <div class="input-group"> <span class="input-group-addon first-addon"> <a class="plus"><i class="ion-android-add"></i></a> </span>
      <input type="text" class="form-control" placeholder="Message @slackbot"/>
      <span class="input-group-addon last-addon"> <a class="at"><i class="ion-at"></i></a><a class="smile"><i class="fa fa-smile-o"></i></a> </span> </div>
  </div> 
</div>

<!-- thread start -->
<div class="start-thread-sec" style="display: none;">
  <div class="thread-head">
    <div class="row">
      <div class="col-md-10">
        <h2>Thread</h2>
        <small>Just you</small>
      </div>
      <div class="col-md-2"><a href="javascript:void(0)" class="close-thread3 pull-right"><i class="ion-android-close"></i></a></div>
    </div>
  </div>
  <div class="thread-body">
    <div class="media popup-options-thread"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body-thread">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        <p> 
      </div>
      <div class="chat-actions-hover-thread">
        <ul class="thread-ul">
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button data-toggle="modal" data-target="#share-message-pop" ><i data-original-title="Open in channel" data-placement="top" data-toggle="tooltip" class="ion-android-open"></i></button></li>
          <li class="more-options-thread"><button data-original-title="More options..." data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button>
          
          </li>
        </ul>

        <div class="child-more-options-thread dropdown-menu">
        <ul>
          <li><a href="javascript:void(0)">Follow message<small>Any replies will show up in All Threads</small></a></li>
          <hr>
          <li><a href="javascript:void(0)">Send message ...</a></li>
          <li><a href="javascript:void(0)">Copy link</a></li>
          <li><a href="javascript:void(0)">Remind me about this <i class="ion-ios-arrow-right pull-right"></i></a>
            <ul class="remind-optn-ul dropdown-menu">
              <li><a href="javascript:void(0)">In 20 minutes</a></li>
              <li><a href="javascript:void(0)">In 1 hour</a></li>
              <li><a href="javascript:void(0)">In 3 hours</a></li>
              <li><a href="javascript:void(0)">Tomorrow</a></li>
              <li><a href="javascript:void(0)">Next week</a></li>
            </ul>
          </li>
          <hr>
          <li><a href="javascript:void(0)">Add reation ...</a></li>
          <li><a href="javascript:void(0)">Pin to #random ...</a></li>
          <hr>
          <li><a href="javascript:void(0)">Edit message</a></li>
          <li><a data-toggle="modal" data-target="#delete-message-pop" href="javascript:void(0)" class="delete-msg">Delete message</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="reply-thread">
      <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <form>
            <textarea class="form-control" placeholder="Reply..."></textarea>
            <i class="ion-android-happy textarea-imoji"></i>
      </form>
    </div>
  </div>
</div>
<!-- thread end -->

<!-- conversation detail strat -->
<div class="conversation-details" style="display: none;">
  <div class="thread-head">
    <div class="row">
      <div class="col-md-10">
        <h2>About this conversation</h2>
        <small>&nbsp;</small>
      </div>
      <div class="col-md-2"><a href="javascript:void(0)" class="close-thread pull-right"><i class="ion-android-close"></i></a></div>
    </div>
  </div>
  <div class="thread-body">
    <div class="conver-sec-inside">
      <a class="user-info" href="javascript:void(0)">
          <div class="col-sm-2">
            <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
          </div>
          <div class="col-sm-10">
            <h3>Slackbot <i class="fa fa-heart heart-icon"></i></h3>
            <small>Slackbot</small>
          </div>
      </a>
  </div>
  <div class="clearfix"></div>
      <hr>
  <div class="pin-shared">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="ion-pin"></i> Pinned Items</a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>No items have been pinned yet! Open the context menu on important messages or files and choose <i>Pin to this conversation</i> … to stick them here. </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><i class="ion-document"></i> Shared Files
        </a>
      </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>There are no files to see here right now! But there could be – drag and drop any file into the message pane to add it to this conversation.</p>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
</div>
<!-- conversation detail end -->

<!-- activity section strat -->
<div class="activity-section" style="display: none;">
  <div class="thread-head">
    <div class="row">
      <div class="col-md-10">
        <h2>Activity</h2>
        <small>&nbsp;</small>
      </div>
      <div class="col-md-2"><a href="javascript:void(0)" class="close-thread1 pull-right"><i class="ion-android-close"></i></a></div>
    </div>
  </div>
  <div class="activity-body">
    <div class="btn-group selectbox">
    <a class="btn dropdown-toggle btn-select form-control" data-toggle="dropdown" href="#" aria-expanded="false">Include:<small> mentions, reactions</small> <span class="caret"></span></a>
    <hr>
    <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)"><input type="checkbox"> Include @channel mentions</a></li>
                  <li><a href="javascript:void(0)"><input type="checkbox"> Include User Group mentions</a></li>
                </ul>
                </div>
    <div class="member-explanation">
      <p>You don’t have any mentions yet. When someone mentions you by name or uses one of your highlight words, that message will appear here.</p>
    </div>
  </div>
</div>
<!-- activity section end -->

<!-- activity section strat -->
<div class="starred-items" style="display: none;">
  <div class="thread-head">
    <div class="row">
      <div class="col-md-10">
        <h2>Starred Items</h2>
        <small>&nbsp;</small>
      </div>
      <div class="col-md-2"><a href="javascript:void(0)" class="close-thread2 pull-right"><i class="ion-android-close"></i></a></div>
    </div>
  </div>
  <div class="activity-body">
    <div class="member-explanation m-t-20">
      <p>You haven’t starred any messages or files yet. Maybe now’s the time to start? You can add a star to messages, files, snippets, posts, comments … pretty much anything in Slack.<br><br>
  Starring makes things easier to find: they’ll show up right here in this list.</p>
    </div>
  </div>
</div>
<!-- activity section end -->

<!-- workspace directory strat -->
<div class="workspace-directory" style="display: none;">
  <div class="thread-head">
    <div class="row">
      <div class="col-md-10">
        <h2><a href="javascript:void(0)" id="display-workspace-dire"><i data-toggle="tooltip" data-placement="bottom" data-original-title="back" class="ion-ios-arrow-back"></i></a>&nbsp;&nbsp; Workspace Directory</h2>
      </div>
      <div class="col-md-2"><a href="javascript:void(0)" class="close-thread4 pull-right"><i data-toggle="tooltip" data-placement="left" data-original-title="close" class="ion-android-close"></i></a></div>
    </div> 
  </div>
  <div class="activity-body">
    <div class="inside-workspace">
      <span class="pro-acunt-img"><img src="../../assets/images/pro-acunt.png">
      <a href="javascript:void(0)" class="m-t-10">John Smith &nbsp;<i data-toggle="tooltip" data-placement="bottom" data-original-title="away" class="ion-ios-circle-outline"></i></a>
      </span>
      <div class="pro-ac-btns">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#edit-profile-pop" class="btn btn-default btn-outline">Edit Profile</a>
        <a routerLink="/account-settings/account-settings" class="btn btn-default btn-outline"><i data-toggle="tooltip" data-placement="bottom" data-original-title="Account settings" class="ion-gear-a"></i></a> 
        <a data-toggle="dropdown" href="javascript:void(0)" class="btn btn-default btn-outline"><i data-toggle="tooltip" data-placement="bottom" data-original-title="More options" class="ion-chevron-down"></i>
        </a>
          <ul class="dropdown-menu pro-ac-moreoptn">
            <li><a href="#">View preferences</a></li>
            <li><a href="#">Open account settings</a></li>
            <hr>
            <li><a href="#">View your files</a></li>
            <li><a href="#">[Away] Set yourself active</a></li>
            <li><a href="#">Open profile in new window</a></li>
            <hr>
            <li><a href="#">Copy member ID<br><small>U778542147G</small></a></li>
          </ul>
      </div>
      <div class="foot-workspace">
        <ul class="foot-main-ul">
          <li>
            <div class="lft-foot-work m-t-5">Status</div>
            <div class="rit-foot-work">
                <input data-toggle="dropdown" type="text" placeholder="What's your status?" class="form-control status-input">
                <i class="ion-android-happy imoji-optn"></i>
                <ul class="hover-submenu2 dropdown-menu">
                    <li><small class="sugges m-b-5">Suggested (<a href="javascript:void(0)">edit</a>)</small></li>
                    <li><a href="javascript:void(0)"><i class="ion-person-stalker"></i>&nbsp;&nbsp;&nbsp; In a meeting</a></li>
                    <li><a href="javascript:void(0)"><i class="ion-android-bus"></i>&nbsp;&nbsp;&nbsp; Commuting</a></li>
                    <li><a href="javascript:void(0)"><i class="ion-ios-medkit"></i>&nbsp;&nbsp;&nbsp; Out sick</a></li>
                    <li><a href="javascript:void(0)"><i class="ion-happy-outline"></i>&nbsp;&nbsp;&nbsp; Vacationing</a></li>
                    <li><a href="javascript:void(0)"><i class="ion-code-working"></i>&nbsp;&nbsp;&nbsp; Working remotely</a></li>
                </ul>
            </div>
          </li>
          <li>
            <div class="lft-foot-work">Timezone</div>
            <div class="rit-foot-work">
              <p>10:05 AM local time (<a href="javascript:voit(0)">change</a>)</p>
            </div>
            <div class="lft-foot-work">Email</div>
            <div class="rit-foot-work">
              <p><a href="javascript:voit(0)">krishanpalindiit@gmail.com</a></p>
            </div>
            <div class="lft-foot-work">Role</div>
            <div class="rit-foot-work">
              <p>Owner of John Smith</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- workspace directory end -->

<!-- workspace-directory2 strat -->
<div class="workspace-directory2" style="display: none;">
  <div class="thread-head">
    <div class="row">
      <div class="col-md-8">
        <h2>Workspace Directory</h2>
        <small>&nbsp;</small>
      </div>
      <div class="col-md-4">
        <a href="javascript:void(0)" class="close-thread5 pull-right"><i data-toggle="tooltip" data-placement="left" data-original-title="Close" class="ion-android-close"></i></a>
        <a href="javascript:void(0)" class=""><i data-toggle="tooltip" data-placement="left" data-original-title="Manage members" class="ion-gear-a pull-right"></i></a>        
      </div>
    </div>
  </div>
  <div class="thread-body">
    <div class="conver-sec-inside">
      <ul>
        <li>
          <a class="user-info display-pro-account" href="javascript:void(0)">
            <div class="col-sm-2">
              <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
            </div>
            <div class="col-sm-10">
              <h3>Abcd <i data-toggle="tooltip" data-placement="bottom" data-original-title="away" class="ion-ios-circle-outline offline-icon"></i></h3>
              <small>Abcdefg</small>
            </div>
          </a>
        </li>
        <li>
          <a class="user-info display-pro-account" href="javascript:void(0)">
            <div class="col-sm-2">
              <img width="36px" class="d-flex mr-2"  src="../../assets/images/pro-acunt.png">
            </div>
            <div class="col-sm-10">
              <h3>Slackbot <i data-toggle="tooltip" data-placement="bottom" data-original-title="active" class="fa fa-heart heart-icon"></i></h3>
              <small>Slackbot</small>
            </div>
          </a>
        </li>
      </ul>
      
  </div>
</div>
</div>
<!-- workspace-directory2 end -->




  














