<div class="my-logo">
<a href="#"><img width="37px" src="assets/images/logo.svg"/></a>
</div>
<div class="row">

<div class="col-xl-4 offset-xl-4 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
<form class="create-name">
<h1>What’s your company&nbsp;called ?</h1>

<div class="form-group">
<label>Company name</label>
<input type="text" class="form-control" placeholder="Ex. Acme or Acme Marketing"/>
</div>

<p class="">We’ll use this to name your Slack workspace, which you can always change later.
</p>
<div class="form-group text-center">
<button class="btn btn-green" routerLink="/createurl/createurl">
Continue To Workspace URL <i class="fa fa-arrow-right"></i>

</button>
</div>
</form>

</div>
</div>

