<div class="my-logo">
<a href="#"><img width="37px" src="assets/images/logo.svg"/></a>
</div>
<div class="row">
<div class="col-xl-4 offset-xl-4 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">

<form  class="confirmation-top">
<h1>Check your email</h1>
<p>We’ve sent a six-digit confirmation code to <strong>johnsmith@gmail.com</strong>. It will expire shortly, so enter your code soon.</p>
<div class="form-group">
<label>
<span>Your</span> confirmation code
</label>
<div class="confirmation-div" routerLink="/createname/createname">
<div class="confirmation-left">
<div class="confirm-input">
<input type="text"/>
</div>
<div class="confirm-input">
<input type="text"/>
</div>
<div class="confirm-input">
<input type="text"/>
</div>
</div>
<div class="confirmation-left confirmation-middle">
—
</div>
<div class="confirmation-left">
<div class="confirm-input">
<input type="text"/>
</div>
<div class="confirm-input">
<input type="text"/>
</div>
<div class="confirm-input">
<input type="text"/>
</div>
</div>
</div>
</div>

</form>
</div>

</div>